<article class="project-modal__wrapper">
  <div class="project-modal__container">
    <div class="project-modal__content">
      <div data-component="${_project.name}-modal-header"></div>
      <h5 data-i18n="project-section.overview-title"></h5>
      <div data-component="${_project.name}-modal-overview"></div>
      <h5 data-i18n="project-section.purpose-title"></h5>
      <div data-component="${_project.name}-modal-purpose"></div>
      <div data-component="${_project.name}-modal-constraints"></div>
      <h5 data-i18n="project-section.choices-title"></h5>
      <div data-catalog="${_project.name}-modal-choices"></div>
      <h5 data-i18n="project-section.challenges-title"></h5>
      <div data-catalog="${_project.name}-modal-challenges"></div>
      <h5 data-i18n="project-section.learned-title"></h5>
      <div data-component="${_project.name}-modal-learned"></div>
      <div class="project-modal__links">
        <p data-component="${_project.name}-modal-links"></p>
      </div>
    </div>
  </div>
</article>
