@use "sass:map";
@use "variables" as *;
@use "mixins";

.home__container {}

.home__main-projects {
  & > [data-catalog],
  .home__additional-projects > [data-catalog] {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    @include mixins.respond-to(large) {
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }

    @include mixins.respond-to(medium) {
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }

    & > article {
      display: flex;
      //overflow: hidden;

      @include mixins.respond-to(medium) {
        overflow: visible;
        overflow-wrap: break-word;
      }

      & > div {
        display: flex;
        flex: 1;
      }
    }


    .project-card__wrapper {
      flex: 1;
      box-sizing: border-box;
      padding-block: map.get($spacings, small);
    }

    .project-card__container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .project-card__content {
      flex: 1;
    }

    .project-card__links {
      justify-content: space-between;
    }

    .project-header__container {
      padding-block: map.get($spacings, small);
    }

    .project-header__images {
      padding-bottom: 0;
    }

    .project-header__screen-mock {
      margin-block: map.get($spacings, small);
    }
  }

  .home__additional-projects {
    display: none;

    &.open {
      display: block;
      -webkit-animation: fadeIn .2s;
      animation: fadeIn .2s;
    }
  }
}

.show-more__wrapper {
  display: flex;
  justify-content: center;
  padding: map.get($spacings, medium);

  & > div {
    width: 100%;
    display: flex;
    justify-content: center;
  }
}

.show-more__btn {
  min-width: 33vw;
  font-family: $secondary-font;
  font-size: 1.1rem;
  padding: map.get($spacings, smallest) map.get($spacings, small);
  @include mixins.themed(background, linear-gradient(180deg, map.get($light-theme, background), 90%, rgba(map.get($light-theme, accent), .7)), linear-gradient(180deg, map.get($dark-theme, background), 90%, rgba(map.get($dark-theme, accent), .7)));
  @include mixins.themed(color, map.get($light-theme, accent), map.get($dark-theme, accent));
  border-radius: map.get($border-radius, pill);
  cursor: pointer;

  &:hover, &:focus-visible {
    @include mixins.themed(background, linear-gradient(180deg, map.get($light-theme, background), 80%, rgba(map.get($light-theme, accent), .7)), linear-gradient(180deg, map.get($dark-theme, background), 60%, rgba(map.get($dark-theme, accent), .7)));
  }
  &:focus-visible {
    @include mixins.themed(outline, 2px solid map.get($light-theme, accent), 2px solid map.get($dark-theme, accent));
  }
  @include mixins.respond-to(medium) {
    min-width: 80vw;
  }
}

.home__projects-disclaimer {
  padding-top: map.get($spacings, largest);
  padding-bottom: map.get($spacings, large);
  padding-left: map.get($spacings, largest)*2;
  p {
    min-width: 100ch;
    font-size: map.get($font-sizes, small);
    font-style: italic;
  }
  @include mixins.respond-to(medium) {
    padding-left: map.get($spacings, medium);
    p {
      min-width: auto;
    }
  }
}

@-webkit-keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}
