@use "sass:map";
@use "variables" as *;
@use "mixins";

.home__container {}

.home__main-projects {
  & > div {
    display: grid;
    grid-template-columns: repeat(3, minmax(0, 1fr));

    & > div {
      display: flex;
      overflow: hidden;
    }

    .project-card__wrapper {
      flex: 1;
      box-sizing: border-box;
      padding-block: map.get($spacings, small);
    }

    .project-card__container {
      display: flex;
      flex-direction: column;
      width: 100%;
    }

    .project-card__content {
      flex: 1;
    }

    .project-card__links {
      justify-content: space-between;
    }

    .project-header__container {
      padding-block: map.get($spacings, small);
    }

    .project-header__images {
      padding-bottom: 0;
    }

    .project-header__screen-mock {
      margin-block: map.get($spacings, small);
    }
  }
}

.home__projects-disclaimer {
  padding-top: map.get($spacings, largest);
  padding-bottom: map.get($spacings, large);
  padding-left: map.get($spacings, largest)*2;
  p {
    min-width: 100ch;
    font-size: map.get($font-sizes, small);
    font-style: italic;
  }
  @include mixins.respond-to(medium) {
    padding-left: map.get($spacings, medium);
    p {
      min-width: auto;
    }
  }
}
