<div class="contact__wrapper">
	<div class="contact__container">
		<div class="contact__header">
			<h2 data-i18n="contact.title"></h2>
		</div>
		<div class="contact__links">
			<p>
				<a href="mailto:loiskouninef@gmail.com">
					<span class="contact__icon">📧 </span>
					<span data-i18n="contact.email"></span>
				</a>
			</p>
			<p class="c-external-link">
				<a href="https://www.linkedin.com/in/lo%C3%AFs-kouninef/" target="_blank">
					<span class="contact__icon">🔗 </span>
					<span data-i18n="contact.linkedin"></span>
				</a>
			</p>
			<p class="c-download-link">
				<a id="resume-link" download="loïs-kouninef-resume.pdf" target="_self">
					<span class="contact__icon">⬇️ </span>
					<span data-i18n="contact.resume"></span>
				</a>
			</p>
		</div>
		<div class="contact__infos">
			<p data-i18n="contact.location"></p>
			<p data-i18n="contact.languages"></p>
		</div>
	</div>
</div>