@use "sass:map";
@use "variables" as *;
@use "mixins";

.tech-stack__wrapper {
	@include mixins.wrapper;
}

.tech-stack__container {
	width: 100%;
	@include mixins.container(accent);
}

.tech-stack__header {
	width:100%;
	@include mixins.header(accent);
	padding-top: map.get($spacings, large);
	padding-left: map.get($spacings, large);
	padding-right: map.get($spacings, large);
	h2 {
  		font-size: map.get($font-sizes, largest);
		@include mixins.themed(border-bottom, 3px solid rgba(map.get($light-theme, accent), .5), 3px solid rgba(map.get($dark-theme, accent), .5));
  	}
  	@include mixins.respond-to(medium) {
  		padding-bottom: map.get($spacings, smallest);
  	}
}

.tech-stack__badges {
	gap: 1rem;
	text-wrap: nowrap;
	padding-bottom: map.get($spacings, small);
	padding-left: map.get($spacings, largest);
	font-size: 1.1rem;
	&.underline {
		//@include mixins.tech-badges-underline;
	}
	@include mixins.respond-to(medium) {
		padding-top: map.get($spacings, large);
		padding-bottom: map.get($spacings, medium);
		padding-left: map.get($spacings, small);
		text-wrap: wrap;
	}
}

[class*="tech-stack__badges-title"] {
	@include mixins.tech-badges-title;
	@include mixins.tech-badges-underline;
	padding-top: map.get($spacings, largest);
  min-width: 40%;
  gap: map.get($spacings, small);
  font-size: map.get($font-sizes, small);
}

.tech-stack__badges-title-main {
  font-size: map.get($font-sizes, medium);
}

.tech-stack__badges-title-tools {
  font-size: map.get($font-sizes, smallest);
  letter-spacing: 0.125rem;
}

.tech-stack__icon {
	font-size: 1.4rem;
}

[class*="tech-stack__badge-catalog"] {
	padding-top: map.get($spacings, medium);
	.svg-tech-label {
	  padding-top: map.get($spacings, small);
	  font-weight: 700;
	  letter-spacing: 0.15em;
	  opacity: 0.75;
	  font-style: normal;
	}
	> * {
		@include mixins.respond-to(medium) {
			flex: 1;
		}
	}
	@include mixins.respond-to(medium) {
		width: 90vw;
	}
	.svg-tech-item { }
}

.tech-stack__badge-catalog {
	> * {
		width: 3rem;
		padding-left: 4rem;
		@include mixins.respond-to(medium) {
			padding-left: 0;
		}
	}
	.svg-tech-label {
	  font-size: 0.8rem;
	}
  .base-svg {
		&::after {
	    padding: 1rem;
	  }
	}
}

.tech-stack__badge-catalog-tools {
	padding-bottom: map.get($spacings, medium);
	padding-left: 2.5rem;
	@include mixins.respond-to(medium) {
		padding-left: 0;
	}
	> * {
		width: 3rem;
		@include mixins.respond-to(medium) {
			flex-basis: 20%;
		}
	}
	.svg-tech-label {
	  font-size: 0.7rem;
	}
  .base-svg {
		&::after {
	    padding: .8rem;
	  }
	}
}
