@use "sass:map";
@use "variables" as *;

// snackbar
.app-snackbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  background: $snack-default;
  color: white;
  padding: 0.75rem 1.5rem;
  border-radius: 0.5rem;
  box-shadow: 0 2px 6px rgba(0,0,0,0.3);
  display: flex;
  gap: 1rem;
  align-items: center;
  // z-index: 1000;
  animation: fade-in 0.3s ease;
}

.app-snackbar--bottom { bottom: 1rem; }
.app-snackbar--top { top: 1rem; }

.app-snackbar--success { background: $snack-success; }
.app-snackbar--error { background: $snack-error; }
.app-snackbar--info { background: $snack-info; }

.app-snackbar button {
  background: transparent;
  border: none;
  color: #fff;
  font-weight: bold;
  cursor: pointer;
}

@keyframes fade-in {
  from { opacity: 0; transform: translateX(-50%) translateY(10px); }
  to { opacity: 1; transform: translateX(-50%) translateY(0); }
}

// popover
/* Prevent scroll when popover is active */
.no-scroll {
  overflow: hidden;
}

.popover-overlay {
  background: linear-gradient(to right, rgba($primary-color, .7), rgba($secondary-color, .7));
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  display: flex;
  align-items: center;
  justify-content: center;
  // z-index: 9999;
  opacity: 0;
  transition: opacity 0.25s ease;
    &.show {
    opacity: 1;
  }
}

.popover-wrapper {
  position: relative;
  background-color: $background-color;
  border-radius: 10px transparent;
  max-width: 600px;
  width: 90%;
  max-height: 90%;
  overflow: auto;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.3);
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease;
    &.show {
    transform: scale(1);
    opacity: 1;
  }
}

.popover-content {
  position: relative;
}

.popover-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
}

.popover-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.popover-buttons button {
  background-color: inherit;
  transition: ease-in-out 0.3s;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: rgba($secondary-color, .7);
    color: $background-color;
  }
 }

