@use "sass:map";
@use "mixins";
@use "variables" as *;

/* Prevent scroll when popover is active */
.no-scroll {
  overflow: hidden;
  height: 100%;
}

.popover-overlay {  
  z-index: 99;
  position: fixed;
  inset: 0;
  backdrop-filter: blur(5px);
  background-color: rgba(0, 0, 0, .1);
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;
  animation: hide-pop 0.3s ease forwards;
    &.show {
    animation: show-pop 0.3s ease forwards;
  }
}

.popover-wrapper {
  overflow-y: auto;
  position: relative;
  overscroll-behavior: none;
  @include mixins.themed(background, map.get($light-theme, background), map.get($dark-theme, background));
  @include mixins.themed(color, map.get($light-theme, text), map.get($dark-theme, text));
  @include mixins.themed(box-shadow, (0 2px 2px rgba(map.get($light-theme, text), .2)), (0 2px 2px rgba(map.get($dark-theme, text), .2)));
  border-radius: 1rem;
  width: 90%;
  height: 90%;
  transform: scale(0.95);
  opacity: 0;
  transition: opacity 0.3s ease, transform 0.3s ease;
  -moz-transition: opacity 0.3s ease, -moz-transform 0.3s ease;
  -webkit-transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
  -o-transition: opacity 0.3s ease, -o-transform 0.3s ease;
    &.show {
    transform: scale(1);
    -moz-transform: scale(1);
    -webkit-transform: scale(1);
    -o-transform: scale(1);
    opacity: 1;
  }
}

.popover-content {
  position: relative;
  height: 100%;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
  overscroll-behavior: contain;
}

.popover-close-button {
  position: absolute;
  top: 0.5rem;
  right: 0.75rem;
  background: none;
  border: none;
  font-size: 1.5rem;
  cursor: pointer;
  padding: 0 1rem;
  @include mixins.themed(color, map.get($light-theme, text), map.get($dark-theme, text));
  &:focus-visible {
    @include mixins.themed(outline, 2px solid map.get($light-theme, secondary), 2px solid map.get($dark-theme, text));
  }
}

.popover-buttons {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}

.popover-buttons button {
  background-color: inherit;
  transition: ease-in-out 0.3s;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  cursor: pointer;
  &:hover {
    background-color: rgba($secondary-color, .7);
    color: $background-color;
  }
 }

@keyframes show-pop {
  from { opacity: 0 }
  to { opacity: 1 }
}

@keyframes hide-pop {
  from { opacity: 1 }
  to { opacity: 0 }
}
