<div class="tech-stack__wrapper">
	<div class="tech-stack__container">
		<div class="tech-stack__header">
			<h2 data-i18n="tech-stack.title"></h2>
			<!-- <p data-i18n="tech-stack.subtitle" class="tech-stack__subtitle"></p> -->
		</div>
		<article class="u-bold">
			<div id="tech-stack-frontend" class="tech-stack__badges underline">
				<h3 class="tech-stack__badges-title">
					<span data-i18n="tech-stack.frontend-title"></span>
				</h3>
				<div class="svgs__container">
				<section
					class="svgs__container tech-stack__badge-catalog"
					data-catalog="frontend-badges"
				></section>
				</div>
			</div>
			<div id="tech-stack-backend" class="tech-stack__badges underline">
				<h3 class="tech-stack__badges-title">
					<span data-i18n="tech-stack.backend-title"></span>
				</h3>
				<section 
					class="svgs__container tech-stack__badge-catalog" 
					data-catalog="backend-badges"
				></section>
			</div>
			<div id="tech-stack-database" class="tech-stack__badges underline">
				<h3 class="tech-stack__badges-title">
					<span data-i18n="tech-stack.database-title"></span>
				</h3>
				<section 
					class="svgs__container tech-stack__badge-catalog" 
					data-catalog="database-badges"
				></section>
			</div>
			<div id="tech-stack-tools" class="tech-stack__badges">
				<h3 class="tech-stack__badges-title-tools">
					<span data-i18n="tech-stack.tools-title"></span>
				</h3>
				<section 
					class="svgs__container tech-stack__badge-catalog tech-stack__badge-catalog-tools"
					data-catalog="tools-badges"
				></section>
			</div>
		</article>
	</div>
</div>