<div class="about__wrapper">
	<div class="about__container">
		<div class="about__header">
			<h2 data-pipe="capitalizeAll" data-i18n="about.title"></h2>
		</div>
		<div class="about__content">
			<section class="about__section">
				<h3 data-i18n="about.pitch-headline"></h3>
				<p data-i18n="about.pitch-subtext"></p>
			</section>
			<section class="about__section">
				<h3 data-i18n="about.architecture-title"></h3>
				<p data-i18n="about.architecture"></p>
			</section>
			<section class="about__section">
				<h3 data-i18n="about.systems-title"></h3>
				<p data-i18n="about.systems"></p>
			</section>
			<section class="about__section">
				<h3 data-i18n="about.background-title"></h3>
				<p data-i18n="about.background"></p>
			</section>
		</div>
	</div>
</div>