node_modules
dist
dist-build
.github
.gitignore
.git

*.md
.env
*.txt
*.test.js
*.log

npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
.nyc_output
coverage
.DS_Store
.cache
.parcel-cache