<div class="home__container">
	<article id="hero"><span data-component="hero"></span></article>
	<div class="home__sections">
		<article id="infrastructure">
			<span data-component="infrastructure"></span>
			<div class="home__separator"></div>
		</article>
		<section class="home__main-projects" id="main-projects">
			<div data-catalog="main-projects-catalog"></div>
			<div class="home__additional-projects" id="additional-projects">
				<div data-catalog="additional-projects-catalog"></div>
			</div>
			<span data-component="show-more-btn"></span>
		</section>
		<div class="home__separator"></div>
		<article id="about"><span data-component="about"></span></article>
		<div class="home__separator"></div>
		<article id="tech-stack"><span data-component="tech-stack"></span></article>
		<div class="home__separator"></div>
		<article id="other-things"><span data-component="other-things"></span></article>
		<div class="home__separator"></div>
		<article id="contact"><span data-component="contact"></span></article>
		<!-- <div class="home__separator"></div> -->
		<article id="infos"><span data-component="infos"></span></article>
	</div>
</div>