<div class="home__container">
	<article id="hero"><span data-component="hero"></span></article>
	<article id="about"><span data-component="about"></span></article>
	<section class="home__main-projects" id="main-projects">
		<div data-component="projects-disclaimer"></div>
		<div data-catalog="main-projects-catalog"></div>
		<div class="home__additional-projects" id="additional-projects">
			<div data-catalog="additional-projects-catalog"></div>
		</div>
		<span data-component="show-more-btn"></span>
	</section>
	<article id="tech-stack"><span data-component="tech-stack"></span></article>
	<article id="infrastructure"><span data-component="infrastructure"></span></article>
	<article id="contact"><span data-component="contact"></span></article>
	<article id="infos"><span data-component="infos"></span></article>
</div>