<div class="home__container">
	<article id="hero"><span data-component="hero"></span></article>
	<article id="about"><span data-component="about"></span></article>
	<section class="home__main-projects" id="main-projects">
		<div data-catalog="main-projects-catalog"></div>
	</section>
	<article id="tech-stack"><span data-component="tech-stack"></span></article>
	<article id="infrastructure"><span data-component="infrastructure"></span></article>
	<article id="contact"><span data-component="contact"></span></article>
</div>