<div class="image-popover__wrapper">
  <div class="image-carousel">
    <div data-component="prev-button"></div>
    <!-- <button class="image-carousel__button image-carousel__button--prev" aria-label="Previous image">
      ‹
    </button> -->
    <div class="image-carousel__track" data-catalog="carousel-pictures"></div>
    <!-- <div class="image-carousel__track">
      <picture class="image-carousel__slide active">
        <source srcset="./assets/images/other-things/thumbnail.avif" type="image/avif"/>
        <source srcset="./assets/images/other-things/thumbnail.webp" type="image/webp"/>
        <img src="./assets/images/other-things/thumbnail.jpg"
             alt="Carved books containing marble games and board games."/>
      </picture>

      <picture class="image-carousel__slide">
        <source srcset="./assets/images/other-things/board.avif" type="image/avif"/>
        <source srcset="./assets/images/other-things/board.webp" type="image/webp"/>
        <img src="./assets/images/other-things/board.jpg"
             alt="Second image description."/>
      </picture>

      <picture class="image-carousel__slide">
        <source srcset="./assets/images/other-things/marbles.avif" type="image/avif"/>
        <source srcset="./assets/images/other-things/marbles.webp" type="image/webp"/>
        <img src="./assets/images/other-things/marbles.jpg"
             alt="Third image description."/>
      </picture>
    </div> -->

    <div data-component="next-button"></div>
    <!-- <button class="image-carousel__button image-carousel__button--next" aria-label="Next image">
      ›
    </button> -->
  </div>
</div>