<div class="project-header__container">
	<div class="project-header__title">
		<h3>${_config.name}</h3>
		<div data-optional class="project-header__tags" data-catalog="project-header-tags"></div>
	</div>
	<div class="project-header__images ${_config.displayTechIcons ? '' : 'u-hide'}">
		<div class="project-header__screen-mock">
			<div class="project-header__screen-mock-content">
				<picture>
					<source srcset="${_config.imageSrc}.avif" type="image/avif"/>
					<source srcset="${_config.imageSrc}.webp" type="image/webp"/>
					<img src="${_config.imageSrc}.jpg" alt="${_config.name} illustration picture"/>
				</picture>
			</div>
			<div class="project-header__screen-mock-stand"></div>
		</div>
		<p class="svgs__container project-header__svgs" data-catalog="project-header-technos"></p>
	</div>
	<h4 class="project-header__tagline">${_config.tagline}</h4>
	<p data-pipe="capitalizeAll" class="project-header__technos-string ${_config.displayTechIcons ? 'u-hide' : ''}">${_config.technos.map(s => s.svgKey.toString()).join(' - ')}</p>
</div>