<div class="hero__wrapper">
	<div class="hero__container">
		<div class="hero__title">
			<h1 data-i18n="hero.main-title"></h1>
		</div>
		<div class="hero__value-prop">
			<p data-i18n="hero.value-prop"></p>
		</div>
		<div class="hero__main-stack">
			<p class="hero__main-stack-title" data-i18n="hero.main-stack"></p>
			<p data-event="click:scrollToTechnos" class="svgs__container hero__main-stack-icons" data-catalog="hero-main-stack"></p>
		</div>
		<div class="hero__cta-container">
			<p class="hero__cta u-pre-wrap" data-event="click:scrollToProjects"><span data-component="projects-anchor"></span></p>
		</div>
	</div>
</div>