@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";

#hero {
  padding-bottom: map.get($spacings, largest)*2;
}

.hero__wrapper {
	@include mixins.wrapper;
	min-height: 90svh;
	@include mixins.respond-to(medium) {
		min-height: auto;
	}
}

.hero__container {
	width: 100%;
	@include mixins.container;
	@include mixins.flex-between;
	@include mixins.flex-column;
	align-items: flex-start;
	text-align: left;
	padding-bottom: map.get($spacings, large);
}

.hero__title {
	padding-top: map.get($spacings, small);
	@include mixins.respond-to(medium) {
		padding-top: 0;
	}
}

.hero__value-prop {
	padding-top: map.get($spacings, largest);
	padding-bottom: map.get($spacings, medium);
	padding-left: map.get($spacings, smallest);
	font-size: 1.75rem;
	max-width: 50ch;
	color: var(--accent);
	@include mixins.respond-to(medium) {
		font-size: 1.25rem;
		padding-left: 0;
		padding-top: map.get($spacings, large);
	}
}

.hero__key-competences-container {
	padding-left: map.get($spacings, largest);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	@include mixins.respond-to(medium) {
		padding-left: 0;
		padding-top: map.get($spacings, large);
	}
}

.hero__key-competences {
	padding-left: map.get($spacings, largest);
	max-width: 70ch;
	font-family: $secondary-font;
	font-weight: 700;
	letter-spacing: 0.1rem;
	line-height: 2rem;
	opacity: .85;
	border-radius: map.get($spacings, small);
	p:nth-last-child(1) {
		@include mixins.themed(border-bottom, 1px solid rgba(map.get($light-theme, accent), .3), 1px solid rgba(map.get($dark-theme, accent), .5));
	};
	@include mixins.respond-to(medium) {
		font-size: map.get($font-sizes, small);
		padding-left: 0;
	}
}

.hero__main-stack {
	padding-left: map.get($spacings, largest);
	@include mixins.respond-to(medium) {
		padding-left: 0;
	}
}

.hero__main-stack-title {
	padding-top: map.get($spacings, largest);
	font-family: $secondary-font;
	font-size: .8rem;
	letter-spacing: 0.06em;
	text-transform: uppercase;
	font-weight: 700;
	color: var(--text-muted);
	border-radius: map.get($spacings, small);
	@include mixins.respond-to(medium) {
		padding-left: map.get($spacings, smallest);
	}
}

.hero__main-stack-icons {
	transition: ease-in-out .2s;
	padding-top: map.get($spacings, small);
	padding-left: map.get($spacings, largest);
		.svg-tech-label {
			font-size: 0.7rem;
			letter-spacing: 0;
		}
		.base-svg {
			transition: ease-in-out .2s;
			border-radius: map.get($border-radius, large);
			border-bottom: 2px solid transparent;
			&::after {
				padding: .8rem;
			}
		}
	@include mixins.respond-to(medium) {
		padding-left: map.get($spacings, small);
		.svgs__container {
			padding-left: map.get($spacings, small);
		}
	}
	&:hover {
		cursor: pointer;
		scale: 1.01;
		transform: translateY(-1px);
		.base-svg {
			border-color: var(--primary);
		}
	}
	@media(hover:none) {
	 	&:hover {
			scale: 1;
			transform: translateY(0px);
			.base-svg {
				border-color: transparent;
			}
	 	}
	}
}

.hero__cta-container {
	padding-left: map.get($spacings, large);
	@include mixins.respond-to(medium) {
		padding-left: 0;
		padding-top: map.get($spacings, large);
		align-self: center;
	}
}

.hero__cta {
	font-size: map.get($font-sizes, large);
	font-weight: 600;
	width: fit-content;
	border: 2px solid;
	background: var(--primary);
	@include mixins.themed(color, map.get($light-theme, text), map.get($dark-theme, background));
	border-color: var(--background);
	margin-top: map.get($spacings, largest);
	padding: map.get($spacings, small) map.get($spacings, large);
	text-align: left;
	border-radius: map.get($border-radius, large);
	transition: all ease-in-out .2s;
  outline: 2px solid transparent;
	@include mixins.respond-to(medium) {
		width: 100%;
		padding: map.get($spacings, small) map.get($spacings, small);
	}
  &:hover, &:focus-visible {
  	background: color-mix(in srgb, var(--primary), transparent 90%);
    color: var(--primary);
  }
	&:hover {
    cursor: pointer;
    transform: translateX(+6px);
    border-color: var(--primary);
	  box-shadow: 0 4px 8px -2px color-mix(in srgb, var(--text), transparent 88%),
              0 1px 2px -1px color-mix(in srgb, var(--text), transparent 92%);
	}
	&:active {
  	transform: translateX(-3px);
	}
	&:focus-visible {
		outline: none;
		text-decoration: none;
		outline: 2px solid var(--primary);
	}
	@media(hover: none) {
		&:hover {
    	transform: translateX(+0px);
    	background: var(--primary);
			@include mixins.themed(color, map.get($light-theme, text), map.get($dark-theme, background));
			@include mixins.themed(box-shadow, none, none);
			a {
				text-decoration: none;
			}
		}
	}
}
