<article class="project-popover__wrapper">
  <div class="project-popover__container">
    <div class="project-popover__content">
      <div data-component="${_project.name}-popover-header"></div>
      <h4 data-i18n="project-section.overview-title"></h4>
      <div data-component="${_project.name}-popover-overview"></div>
      <h4 data-i18n="project-section.purpose-title"></h4>
      <div data-component="${_project.name}-popover-purpose"></div>
      <div data-component="${_project.name}-popover-constraints"></div>
      <h4 data-i18n="project-section.choices-title"></h4>
      <div data-catalog="${_project.name}-popover-choices"></div>
      <h4 data-i18n="project-section.challenges-title"></h4>
      <div data-catalog="${_project.name}-popover-challenges"></div>
      <h4 data-i18n="project-section.learned-title"></h4>
      <div data-component="${_project.name}-popover-learned"></div>
      <div class="project-popover__links">
        <p data-component="${_project.name}-popover-links"></p>
      </div>
    </div>
  </div>
</article>
