@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";
@use "svgs-common" as *;

$tech-badges-path: '#{$base-folder}/tech-badges/';

$tech-badge-svgs: (
  'angular': 'angular',
  'bash': 'bash',
  'docker': 'docker',
  'linux': 'linux',
  'nestjs': 'nestjs',
  'vuejs': 'vuejs',
  'rails': 'rails',
  'csharp': 'csharp',
  'golang': 'golang',
  'ruby': 'ruby',
  'nodejs': 'nodejs',
  'nx': 'nx',
  'nginx': 'nginx',
  'git': 'git',
  'jest': 'jest',
  'postgresql': 'postgresql',
  'sass': 'sass',
  'traefik': 'traefik',
  'typescript': 'typescript',
  'handlebars': 'handlebars',
  'html': 'html',
  'typeorm': 'typeorm',
  'mysql': 'mysql',
  'express': 'express',
  'tailwind': 'tailwind',
  'sqlite': 'sqlite',
  'java': 'java'
);

@each $name, $file in $tech-badge-svgs {
  .svg-#{$file} {
    @include svg-background('#{$tech-badges-path}#{$file}.svg');
  }
}

// dark theme adapt
.dark-theme .svg-nx::after,
.dark-theme .svg-handlebars::after,
.dark-theme .svg-express::after,
.dark-theme .svg-java::after,
.dark-theme .svg-mysql::after {
  filter: invert(1);
}

.svg-tech-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.svg-tech-label {
  font-family: $secondary-font;
  letter-spacing: 0.15em;
}

[class*="svg-tech-proficiency"] {
  min-width: 10ch;
  font-size: 0.65rem;
  text-wrap: wrap;
  opacity: .5;
  text-align: center;
  @include mixins.respond-to(medium) {
    min-width: auto;
  }
}

.svg-tech-proficiency__primary {
  opacity: .9;
  @include mixins.themed(color, color.scale(map.get($light-theme, secondary), $lightness: +10%), color.scale(map.get($dark-theme, secondary), $lightness: +10%))
}

.tech-string__main {
  font-family: $secondary-font;
  font-size: map.get($font-sizes, smallest);
  font-style: italic;
  letter-spacing: 0.15em;
  padding-top: map.get($spacings, small);
  opacity: .8;
}