<div class="other-things__wrapper">
	<div class="other-things__container">
		<div class="other-things__header">
			<h2 data-i18n="other-things.title"></h2>
		</div>
		<div class="other-things__content">
			<section class="other-things__section">
				<div>
					<article class="other-things__presentation">
						<h3 data-i18n="other-things.carving-title"></h3>
						<p data-i18n="other-things.carving-content"></p>
					</article>
					<article class="other-things__presentation">
						<h3 data-i18n="other-things.board-title"></h3>
						<p data-i18n="other-things.board-content"></p>
					</article>
					<article class="other-things__presentation">
						<h3 data-i18n="other-things.marbles-title"></h3>
						<p data-i18n="other-things.marbles-content"></p>
					</article>
				</div>
				<aside class="other-things__image-wrapper" data-event="click:_displayImagePop">
					<picture>
						<source srcset="./assets/images/other-things/carved-books.avif" type="image/avif"/>
						<source srcset="./assets/images/other-things/carved-books.webp" type="image/webp"/>
						<img src="./assets/images/other-things/carved-books.jpg" alt="Carved books containing marble games and board games."/>
					</picture>
				</aside>
			</section>
		</div>
	</div>
</div>
