@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";

@mixin view-more-btn() {
  background: var(--surface);
  cursor: pointer;
  transition: all ease-in-out .2s;
  transition: background ease-in-out .2s;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .01rem;
  padding: map.get($spacings, smallest) map.get($spacings, small);
  color: var(--primary);
  border-radius: map.get($border-radius, medium);
  text-wrap: nowrap;
  @include mixins.themed(outline, 3px solid transparent, 2px solid transparent);
  &:hover, &:focus-visible {
    text-decoration: underline;
    color: var(--primary-hover);
  }
  &:hover {
    transform: translateY(-2px);
  }
  &:focus-visible {
    outline-color: var(--primary);
  }
  @media(hover: none) {
    &:hover {
      text-decoration: none;
      color: var(--primary);
    }
  }
}

.project-card__wrapper {
  @include mixins.wrapper;
  padding-top: 0;
}

.project-card__container {
  background: var(--surface);
  width: 100%;
  @include mixins.container;
  @include mixins.header(primary);
  text-align: left;
  gap: map.get($spacings, large);
  border: 1px solid transparent;
  border-color: var(--border-strong);
  margin-bottom: map.get($spacings, largest);

  &.project-card__standalone {
    width: 100%;
    border-color: transparent;
    margin-bottom: map.get($spacings, largest)*1.5;
    .project-header__title {
      /*
      Can't figure out where the extra space on top comes from
      Negative margin until solved
      */
      margin-top: -(map.get($spacings, medium));
      border-color: transparent;
    }
    .project-card__view-more {
      display: none;
    }
    @include mixins.respond-to(medium) {
      padding-top: map.get($spacings, large);
      padding-left: map.get($spacings, medium);
    }

    .project-card__links {
      display: flex;
      justify-content: flex-end;
      padding-bottom: map.get($spacings, medium);
      padding-right: map.get($spacings, largest );
      padding-top: 0;
      gap: map.get($spacings, largest);
      flex-wrap: nowrap;
      @include mixins.respond-to(medium) {
        padding: map.get($spacings, medium) 0;
      }
    }

    .project-card__view-more {
      @include view-more-btn;
    }
  }

  @include mixins.respond-to(medium) {
    display: block;
    padding-top: 0;
    gap: map.get($spacings, medium);
    .project-header__svgs {
      display: none;
    }
  }
}

.project-card__content {
  padding-bottom: map.get($spacings, medium);
  @include mixins.respond-to(medium) {
    padding: 0;
  }
}

.project-card__links {
  display: flex;
  padding: map.get($spacings, medium);
  padding-top: 0;
  gap: map.get($spacings, largest);
  flex-wrap: nowrap;
  @include mixins.respond-to(medium) {
    padding: map.get($spacings, medium) 0;
    justify-content: space-between;
  }
}

.project-card__view-more {
  @include view-more-btn;
}
