@use "sass:map";
@use "variables" as *;
@use "mixins";

.project-header__container {
  width: 100%;
  @include mixins.header(primary);
  display: flex;
  flex-direction: column;
  padding: map.get($spacings, large) map.get($spacings, large);
  h2 {
    font-size: map.get($font-sizes, large);
  }
  @include mixins.respond-to(medium) {
    padding-left: 0;
  }
}

.project-header__images {
  display: flex;
  justify-content: space-between;
  .project-header__svgs {
    padding-left: map.get($spacings, large);
  }
  @include mixins.respond-to(medium) {
    @include mixins.flex-center;
    flex-direction: column;
    padding-bottom: map.get($spacings, large);
    .project-header__svgs {
      padding-left: 0;
    }
  }
}

.project-header__tagline {
  font-family: $secondary-font; 
  padding-left: map.get($spacings, medium);
  font-size: 1.1rem;
  font-style: italic;
  @include mixins.respond-to(medium) {
    padding-left: 0;
  }
}

// screen mock (project's picture container)
.project-header__screen-mock {         
  position: relative;
  width: 24rem;
  aspect-ratio: 16 / 9;
  margin: map.get($spacings, largest) 0;
  background: transparent;
  @include mixins.respond-to(medium) {
    width: 100%;
  }
}

.project-header__screen-mock::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 85%; /* Screen portion */
  @include mixins.themed(background, map.get($light-theme, background), map.get($dark-theme, background));
  @include mixins.themed(border, 2px solid rgba(map.get($light-theme, text), .3), 2px solid rgba(map.get($dark-theme, text), .3));
  border-radius: map.get($border-radius, medium);
  @include mixins.themed(box-shadow, 0 2px 8px rgba(map.get($light-theme, text), .05), 0 2px 8px rgba(map.get($dark-theme, text), .05));
  @include mixins.themed(box-shadow, inset 0 1px 0 rgba(map.get($light-theme, background), .8), inset 0 1px 0 rgba(map.get($dark-theme, background), .8));
  overflow: hidden;
}

.project-header__screen-mock::after{
  content: '';
  position: absolute;
  bottom: 5%;
  left: 40%;
  width: 20%;
  height: 10%;
  @include mixins.themed(background, rgba(map.get($light-theme, text), .2), rgba(map.get($dark-theme, text), .3));
  clip-path: polygon(0 0, 100% 0, 70% 100%, 30% 100%);
}

.project-header__screen-mock-content {
  position: absolute;
  top: .4rem;
  left: .4rem;
  width: calc(100% - .8rem);
  height: calc(85% - .8rem);
  border-radius: map.get($border-radius, small);
  overflow: hidden;
  @include mixins.themed(background, rgba(map.get($light-theme, text), .1), rgba(map.get($dark-theme, text), .1));
  @include mixins.themed(border, 1px solid rgba(map.get($light-theme, text), .2), 1px solid rgba(map.get($dark-theme, text), .2));
}

.project-header__screen-mock-stand {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 15%;
}

.project-header__screen-mock-stand::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 2px;
  height: 60%;
  @include mixins.themed(background, rgba(map.get($light-theme, text), .2), rgba(map.get($dark-theme, text), .2))
}

.project-header__screen-mock-stand::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 20%;
  width: 60%;
  height: 2px;
  @include mixins.themed(background, rgba(map.get($light-theme, text), .2), rgba(map.get($dark-theme, text), .2))
}

.project-header__screen-mock-content img {
  width: 100%;
  height: 100%;
  @include mixins.bg-cover;
}
