@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";

@mixin view-more-btn($color) {
  cursor: pointer;
  transition: all ease-in-out .2s;
  font-size: 1.05rem;
  font-weight: 600;
  letter-spacing: .01rem;
  padding: map.get($spacings, smallest) map.get($spacings, small);
  @include mixins.themed(background, rgba(map.get($light-theme, background), 1), rgba(map.get($dark-theme, background), 1));
    @include mixins.themed(color, color.scale(map.get($light-theme, $color), $lightness: -5%), color.scale(map.get($dark-theme, $color), $lightness: -10%));
  border-radius: map.get($border-radius, medium);
  text-wrap: nowrap;
  @include mixins.themed(outline, 3px solid transparent, 2px solid transparent);
  &:hover, &:focus-visible {
    text-decoration: underline;
    @include mixins.themed(background, rgba(map.get($light-theme, $color), .1), rgba(map.get($dark-theme, $color), .15));
    @include mixins.themed(color, color.scale(map.get($light-theme, $color), $lightness: -10%), color.scale(map.get($dark-theme, $color), $lightness: -20%));
  }
  &:hover {
    transform: translateY(-2px);
    @include mixins.themed(box-shadow, 0 4px 12px rgba(map.get($light-theme, primary),0.15), 0 4px 12px rgba(map.get($dark-theme, primary),0.15));
  }
  &:focus-visible {
    @include mixins.themed(outline, 3px solid color.scale(map.get($light-theme, $color), $lightness: -10%), 2px solid color.scale(map.get($dark-theme, $color), $lightness: -20%));
  }
  @media(hover: none) {
    &:hover {
      text-decoration: none;
      @include mixins.themed(background, rgba(map.get($light-theme, background), 1), rgba(map.get($dark-theme, background), 1));
      @include mixins.themed(color, color.scale(map.get($light-theme, $color), $lightness: -5%), color.scale(map.get($dark-theme, $color), $lightness: -10%));
    }
  }
}

.project-card__wrapper {
  @include mixins.wrapper;
  padding-top: 0;
}

.project-card__container {
  width: 100%;
  @include mixins.container(primary);
  @include mixins.header(primary);
  text-align: left;
  gap: map.get($spacings, large);

  &.project-card__standalone {
    @include mixins.container(primary);
    padding-left: 0;
    .project-header__title {
      @include mixins.themed(border-bottom, 0, 0);
    }
    padding-top: map.get($spacings, largest)*2;
    width: 100%;
    justify-content: flex-start;
    h3 {
      font-size: map.get($font-sizes, largest);
      @include mixins.themed(color, map.get($light-theme, primary), map.get($dark-theme, primary));
      @include mixins.respond-to(medium) {
        line-height: 2.5rem;
      }
    }
    @include mixins.respond-to(medium) {
      padding-top: map.get($spacings, large);
      padding-left: map.get($spacings, medium);
    }

    .project-card__links {
      display: flex;
      justify-content: flex-end;
      padding-bottom: map.get($spacings, medium);
      padding-right: map.get($spacings, largest );
      padding-top: 0;
      gap: map.get($spacings, largest);
      flex-wrap: nowrap;
      @include mixins.respond-to(medium) {
        padding: map.get($spacings, medium) 0;
      }
    }

    .project-card__view-more {
      @include view-more-btn(primary);
    }
  }

  @include mixins.respond-to(medium) {
    display: block;
    padding-top: 0;
    gap: map.get($spacings, medium);
    .project-header__svgs {
      display: none;
    }
  }
}

.project-card__content {
  padding-bottom: map.get($spacings, medium);
  @include mixins.respond-to(medium) {
    padding: 0;
  }
}

.project-card__links {
  display: flex;
  padding: map.get($spacings, medium);
  padding-top: 0;
  gap: map.get($spacings, largest);
  flex-wrap: nowrap;
  @include mixins.respond-to(medium) {
    padding: map.get($spacings, medium) 0;
    justify-content: space-between;
  }
}

.project-card__view-more {
  @include view-more-btn(primary);
}
