@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";

.project-card__wrapper {
  @include mixins.wrapper;
}

.project-card__container {
  width: 100%;
  @include mixins.container(primary);
  @include mixins.header(primary);
  text-align: left;
  gap: map.get($spacings, largest);

  &.project-card__standalone {
    @include mixins.container(secondary);
    padding-left: 0;
    //box-shadow: none;
    .project-header__title {
      border-bottom: 0;
    }
    padding-top: 3rem;
    width: 100%;
    justify-content: flex-start;
    h2 {
      font-size: map.get($font-sizes, largest);
    }
  }

  @include mixins.respond-to(medium) {
    display: block;
    .project-header__svgs {
      display: none;
    }
  }
}

.project-card__content {
  padding-left: map.get($spacings, medium);
  padding-bottom: map.get($spacings, medium);
  @include mixins.respond-to(medium) {
    padding: 0;
  }
}

.project-card__links {
  display: flex;
  padding: map.get($spacings, medium);
  padding-top: 0;
  gap: map.get($spacings, largest);
  flex-wrap: nowrap;
  @include mixins.respond-to(medium) {
    padding: map.get($spacings, medium) 0;
    justify-content: space-between;
  }
}

.project-card__view-more {
  font-family: $secondary-font;
  font-size: 1.1rem;
  padding: map.get($spacings, smallest) map.get($spacings, small);
  @include mixins.themed(border, 2px solid rgba(map.get($light-theme, accent), 1), 3px solid rgba(map.get($dark-theme, accent), 1));
  @include mixins.themed(background, rgba(map.get($light-theme, background), 1), rgba(map.get($dark-theme, background), 1));
  @include mixins.themed(color, color.scale(map.get($light-theme, accent), $lightness: -20%), color.scale(map.get($dark-theme, accent), $lightness: +10%));
  border-radius: map.get($border-radius, large);
  text-wrap: nowrap;
  &:hover, &:focus-visible {
    cursor: pointer;
    @include mixins.themed(background, rgba(map.get($light-theme, accent), .1), rgba(map.get($dark-theme, accent), .1));
    @include mixins.themed(color, rgba(map.get($light-theme, accent), 1), rgba(map.get($dark-theme, accent), 1));
  }
  &:focus-visible {
    @include mixins.themed(outline, 2px solid map.get($light-theme, accent), 2px solid map.get($dark-theme, accent));
  }
  @media(hover: none) {
    &:hover {
      @include mixins.themed(background, rgba(map.get($light-theme, background), 1), rgba(map.get($dark-theme, background), 1));
      @include mixins.themed(color, color.scale(map.get($light-theme, accent), $lightness: -20%), color.scale(map.get($dark-theme, accent), $lightness: +10%));
    }
  }
}
