@use "sass:map";
@use "variables" as *;
@use "mixins";

.project-section__container {
  max-width: 100%;
  line-height: map.get($spacings, large);
  padding: 0 map.get($spacings, large);
  h5, h6, h7 {
    font-weight: bold;
    padding: map.get($spacings, small) 0;
  }
  h6, h7 {
    padding-top: map.get($spacings, medium);
  }
  @include mixins.respond-to(medium) {
    padding: 0;
  }
}

.project-section__main-content {
  padding: map.get($spacings, large) 0;
}

.project-section__key-points {
  padding-bottom: map.get($spacings, small);
}

.project-section__after {
  padding-bottom: map.get($spacings, small);
}
