@use "sass:map";
@use "variables" as *;
@use "mixins";
@use "sass:color";

.show-more__wrapper {
  padding-left: map.get($spacings, largest);
  @include mixins.respond-to(medium) {
    @include mixins.flex-center;
    padding-left: 0;
    padding-top: map.get($spacings, medium);
  }

  & > div {
    width: 100%;
    @include mixins.respond-to(medium) {
      @include mixins.flex-center;
    }
  }
}

.show-more__btn {
  transition: all ease-in-out .2s;
  font-family: $secondary-font;
  font-style: italic;
  font-size: 1.2rem;
  padding: map.get($spacings, smallest) map.get($spacings, medium);
  @include mixins.themed(background, rgba(map.get($light-theme, background), 1), rgba(map.get($dark-theme, background), 1));
  @include mixins.themed(color, color.scale(map.get($light-theme, accent), $lightness: -20%), color.scale(map.get($dark-theme, accent), $lightness: +10%));
  text-wrap: nowrap;
  outline: 1px solid transparent;
  border-radius: map.get($border-radius, large);
  &:hover, &:focus-visible {
    cursor: pointer;
    text-decoration: underline;
    @include mixins.themed(color, color.scale(map.get($light-theme, accent), $lightness: -40%), color.scale(map.get($dark-theme, accent), $lightness: +20%));
    }
  &:focus-visible {
    @include mixins.themed(outline, 1px solid map.get($light-theme, accent), 1px solid map.get($dark-theme, accent));
  }
  @media(hover: none) {
    &:hover {
      @include mixins.themed(color, color.scale(map.get($light-theme, accent), $lightness: -20%), color.scale(map.get($dark-theme, accent), $lightness: +10%));
      text-decoration: none;
    }
  }
  @include mixins.respond-to(medium) {
    padding-left: 0;
  }
}
