/* Import fonts here.
Example:

@font-face {
  font-family: 'My Font';
  src: url('/assets/fonts/My-Font.file') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
*/
