// primary
@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-400-normal.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-400-normal.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-400-normal.ttf') format('truetype');  
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-500-normal.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-500-normal.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-500-normal.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-600-normal.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-600-normal.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-600-normal.ttf') format('truetype'); 
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-700-normal.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-700-normal.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-700-normal.ttf') format('truetype'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-400-italic.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-400-italic.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-400-italic.ttf') format('truetype'); 
  font-weight: 400;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-500-italic.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-500-italic.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-500-italic.ttf') format('truetype'); 
  font-weight: 500;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-600-italic.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-600-italic.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-600-italic.ttf') format('truetype'); 
  font-weight: 600;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'Inter';
  src: url('/assets/fonts/inter/woff/inter-700-italic.woff2') format('woff2'),
       url('/assets/fonts/inter/woff/inter-700-italic.woff') format('woff'),
       url('/assets/fonts/inter/ttf/inter-700-italic.ttf') format('truetype'); 
  font-weight: 700;
  font-style: italic;
  font-display: swap;
}

// secondary
@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/woff/sora-400-normal.woff2') format('woff2'),
       url('/assets/fonts/sora/woff/sora-400-normal.woff') format('woff'),
       url('/assets/fonts/sora/ttf/sora-400-normal.ttf') format('truetype'); 
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/woff/sora-500-normal.woff2') format('woff2'),
       url('/assets/fonts/sora/woff/sora-500-normal.woff') format('woff'),
       url('/assets/fonts/sora/ttf/sora-500-normal.ttf') format('truetype'); 
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/woff/sora-600-normal.woff2') format('woff2'),
       url('/assets/fonts/sora/woff/sora-600-normal.woff') format('woff'),
       url('/assets/fonts/sora/ttf/sora-600-normal.ttf') format('truetype'); 
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Sora';
  src: url('/assets/fonts/sora/woff/sora-700-normal.woff2') format('woff2'),
       url('/assets/fonts/sora/woff/sora-700-normal.woff') format('woff'),
       url('/assets/fonts/sora/ttf/sora-700-normal.ttf') format('truetype'); 
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
