@use "fonts";
// colours (RGB)

// used in utils
$background-color: rgb(245 240 233);
$text-color: rgb(40 30 20);
$primary-color: rgb(200 140 40);
$secondary-color: rgb(200 70 50);
$accent-color: rgb(60 130 135);

$light-theme: (
  background: rgb(245 240 233), // #F5F0E9
  text: rgb(40 30 20), // #281E14
  primary: rgb(200 140 40), // #C88C28
  secondary: rgb(200 70 50), // #C84632
  accent: rgb(60 130 135) // #3C8287
);

$dark-theme: (
  background: rgb(28 17 10), // #1C110A
  text: rgb(228 214 167), // #E4D6A7
  primary: rgb(233 180 76), // #E9B44C
  secondary: rgb(155 41 21), // #9B2915
  accent: rgb(80 162 167) // #50A2A7
);

// snackbar colours
$snack-success: rgb(76 175 80);
$snack-error: rgb(244 67 54);
$snack-info: rgb(33 150 243);
$snack-default: rgb(153 153 153);

/* 
	Variables used in utility classes
	Adapt to customize
*/

// fonts
$primary-font: Inter, Arial, sans-serif;
$secondary-font: Sora, Arial, sans-serif;

// font sizes
$font-sizes: (
	smallest: 0.75rem,    // 12px
	small: 0.875rem,      // 14px
	medium: 1rem,         // 16px (base)
	large: 1.5rem,       // 24px
	largest: 2rem,      // 32px
);

// spacing (margin / padding / gap)
$spacings: (
	smallest: 0.25rem,   // 4px
	small: 0.5rem,       // 8px
	medium: 1rem,        // 16px
	large: 1.5rem,       // 24px
	largest: 2rem,       // 32px
);

// border radius
$border-radius: (
	small: 2px,
	medium: 4px,
	large: 8px,
	pill: 9999px,
);

// box sizes
$box-sizes: (
	small: 32px,
	medium: 64px,
	large: 128px,
	largest: 256px,
);

// shadows
$shadows: (
	small: 0 1px 2px rgba($primary-color, 0.05),
	medium: 0 4px 6px rgba($primary-color, 0.1),
	large: 0 10px 15px rgba($primary-color, 0.15),
);

// breakpoints
$breakpoints: (
	small: 576px,
	medium: 815px,
	large: 992px,
	largest: 1201px,
);

// animations
// transition Duration
$transitions: (
	fast: 0.2s,
	normal: 0.3s,
	slow: 0.5s,
);
